@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1615877054782'); /* IE9 */
  src: url('iconfont.eot?t=1615877054782#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABlQAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgbAE2AiQDCAsGAAQgBYRtBzAbkgXIHpIkgc6IECAJKhCAEMHTfr+fs3cxkSQZz6pJNBM6CWIjFRJfLGl+9z+nHQC5G8iyHLJCmxTuB/jnUnAjsAQSWM1WqG3Csd1bT/AMKTPgmvoJNJA8oLl1UlRyJODApgPswjXZJjTjDWMXuITzBKr188tbH59d8JXKrGmBeFSkmK8055dllqoUymvWZvGqTGV6Tq94Cb8fv8xFKUlZwarYuh5L+ga/ttsZxXJp2ZlPCBDQ5jIUmOWTib3a+IYCwTgFquOFhvn2VRp8bS+VfJvYq1mwv84qrgW9UHJPUld2q8UJ5Li/k0//qAeTauoOry5b0kcvF420X7Pbnjpcud9r8g7Ouz7H4Te3OPA+4f0tLm7PVx77E3c669u2FwdyH2AQ/6xYy18guPz/+0Ko8X9lTQbvT5QLTVk/J5V7cgR/RNqzLetyy5qyKq11Jp2jpiZUq0YJdjf7HGtoO306VGq7CWeFvhSFSqNkZmdRpsYCylVaQrUZE5trtOAKRK7CtA2A0OgZSb03FBq9kZn9QJl2/yjXGAWodhDsWWM8lPI4xgiTEM+CkrBM5tipPCqdQ8nTYzwrD7lLyF0lBJFguJiaQBP5HAvclBQlYsC4ZcA4uAx13QKbWyomKCgT2d2hEKt7UzBhGb5yazgUQ1ASiMsCigSLifm9SXnp83OQxKOL4S1VNdEliHMpg4OIoHAPckJj9qq6l2tcKZIoQhjAcBYDGAejkE5nAXb9KBVKIEHyiKitW8juxvpqguvrjA8oZnVYxhT2sEL5jRcz44rPBwA=') format('woff2'),
  url('iconfont.woff?t=1615877054782') format('woff'),
  url('iconfont.ttf?t=1615877054782') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1615877054782#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e616";
}

