@import url('./../icon/iconfont.css');
.l-drag {
    box-sizing: border-box;
    min-width: 500px;
    min-height: 200px;
    background: #fff;
    position: absolute;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}
.l-drag-header {
    padding: 20px 20px 10px;
    position: relative;
}
.l-drag-title {
    font-size: 18px;
    line-height: 24px;
    color: #303133;
}
.l-drag-close {
    position: absolute;
    color: #909399;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.l-drag-body {
    padding: 30px 20px;
}
.l-drag-footer {
    padding: 10px 20px 20px;
}
